# Fill in with correct values and place in ~/.ssh/config

Host *
  User <user>
Host kk-hyppy
  HostName <redacted>
Host finna-dev-fe
  HostName <redacted>
  ProxyJump finna-jmp-1
Host finna-pre-1
  HostName <redacted>
  ProxyJump finna-jmp-1
Host finna-jmp-1
  HostName <redacted>
  ProxyJump kk-hyppy
