@use "sass:color";

// Mixins
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


// Variables
$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$input-border:                $input-border-color;

// Miscellaneous
.bg-info {
  background-color: $info-bg-subtle;
}

.badge {
  background-color: inherit; // $badge-bg is not yet defined here
}

.dropdown-toggle.qrcodeLink::after {
  display: none;
}

// Navibar
.finna-navbar {
  @extend .container-fluid;

  @media (max-width: $screen-sm-max) {
    padding: 0;
  }
}
@media (min-width: $screen-md-min) {
  .navbar-nav.header-navbar-right {
    flex-shrink: 0;
  }
}

// Dropdown icons
// Show our own:
.dropdown-toggle .icon:last-child {
  display: inline-block;
}
// Hide Bootstrap's:
.dropdown-toggle::after {
  display: none;
}

// Well
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
}

// Buttons
.btn-primary {
  @include button-variant(
    $btn-primary-bg,
    $btn-primary-border,
    $color: $btn-primary-color,
    $hover-background: color.adjust($btn-primary-bg, $lightness: -10% /*, $space: hsl*/),
    $hover-border: $btn-primary-border,
    $hover-color: $btn-primary-color
  );
}
.btn-default {
  @include button-variant(
    $btn-default-bg,
    $btn-default-border,
    $color: $btn-default-color,
    $hover-background: color.adjust($btn-default-bg, $lightness: -10% /*, $space: hsl*/),
    $hover-border: $btn-default-border,
    $hover-color: $btn-default-color
  );
}

// Button groups
.btn-group {
  display: inline-flex;
}

// MyResearch selection controls
.selection-controls-bar label {
  display: inline-block;
  margin-bottom: 5px;
}

// ***** The following are required for local customizations
.panel-default {
  @extend .card;
}
.nav > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $nav-link-hover-bg;
  }
}

.finna-navbar {
  .dropdown-toggle {
    display: flex;
  }
  .nav-item {
    align-content: center;
  }
}

// E.g. similar items
.list-group-item {
  margin-bottom: -1px;
}

// Spacing between instances of .media
.media {
  margin-top: 15px;
}

.visible-print.inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

// right => end
.text-right {
  @extend .text-end;
}
