.form-control {
  width: initial;
  padding: 2px 5px;
  max-width: 100%; // make sure dropdowns don't overflow elementss
  vertical-align: middle !important;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: transparent;
  }

  &:invalid {
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.9);
  }
  // This is for IE. Keep separate from :invalid so that IE does not drop it
  &.invalid {
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.9);
  }
}


.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0px;
}

.form-inline {
  display: inline-block;
  @media (min-width: @screen-sm-min) {
    .form-control {
      width: auto;
    }
  }
}

.datepicker {
  & .datepicker-switch {
    color: @link-color;
    font-size: 1.1em;
  }
  & .prev,& .next {
    font-size: 1.1em;
  }
  &.dropdown-menu {
    padding: 10px;
  }
}

.feedback-form {
  & .form-group {
    margin-bottom: 20px;
    & label {
      clear: both;
      display: block;
    }
    & textarea, & input {
      max-width: 100%;
    }
  }
  & .feedback-info p,
  & .captcha {
    padding-top: 10px;
    border-top: 1px solid @gray-lighter;
  }
}

form[name=feedbackRecord] .feedback-info {
  border: none;
}
.form-horizontal[name=emailRecord] {
  & input[type=email] {
    min-width: 200px;
    max-width: 100%;
  }
}
