.inline-video.finna-popup, .video-popup.finna-popup, .finna-iframe.finna-popup {
  display: flex;
  align-content: center;
  justify-content: center;
  .popup-iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: auto;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

finna-video {
  display: inline-block;
  cursor: pointer;
}
finna-video .btn.btn-link {
  padding: 0;
}

.inline-video-container {
  .inline-video {
    all: initial;
    .embed-responsive-item {
      height: 100%;
      width: 100%;
    }
    .finna-iframe.model-holder {
      max-width: 800px;
    }
  }
}

finna-consent {
  height: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .embedded-content-heading {
      font-size: 18.4px;
  }
  .embedded-content-cookie-info > div {
      padding: 1rem 2rem;
  }
  .embedded-content-actions {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
  }
}

