.browsebar {
  width: 100%;
  background-color: @finna-browsebar-background;
  bottom:0;
  position: absolute;
  color: @finna-browsebar-link-color;
}

.browsebar .nav {
  margin-left: 1em;
}

.browsebar .nav>li .iconlabel:before {
  vertical-align: inherit;
  font-size: 1em;   
}

.browsebar .navbar {
  border-radius: 0;
  border: none;
  max-width: none;
  background-color: transparent;
}

.browsebar .nav>li {
  display: inline-block;
  line-height: normal;

}

.browsebar .navbar .navbar-nav>li>a {
  color: @finna-browsebar-link-color;
  padding-left: 0px;
  font-size: 1.1em;
  line-height: 64px;
  @media(max-width: @screen-sm){
    line-height: 40px;
  }
}

.browsebar .navbar .navbar-nav>li>a.dropdown-toggle {
  padding-left: 8px;
  margin-right: 0;
  padding-right: 0;
}

.browsebar .nav>li>a:hover, .browsebar .nav>li>a:focus {
  background-color: darken(@finna-browsebar-background, 5%);
}

.browsebar-title {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  padding-right: 25px;
  @media (max-width: @screen-xxs) {
    display: none;
  }
}

@media (max-width: @screen-sm) {
  .browsebar {
    .dropdown-menu {
      position: absolute;
      background: @body-bg;
    }
    .navbar {
      min-height: 40px;
    }
  }
}

.browsebar {
  padding-right: 15px;
  .priority-nav__dropdown {
    left: 0;
    top: 30px;
    li>a.iconlabel{
      margin: 0px;
    }
  }
  .nav-dropdown-toggle {
    height: 64px;
    font-size: 1.1em;
    border: none;
    background-color: transparent;
    color: @finna-browsebar-link-color;
    @media(max-width: @screen-sm) {
      font-size: 0.9em;
    }
    &:hover {
      background-color: darken(@finna-browsebar-background, 5%);
    }
  }
  nav.navbar {
    width: 100%;
    float: left;
  }

  .organisation-link {
    width: 25%;
    float: right;
    background: @finna-browsebar-highlight-background;
    padding: 0px 10px;
    line-height: 64px;
    a {
      display: inline-block;
      color: @finna-browsebar-link-color;
      font-size: 1.1em;
      line-height: 1.5;
      vertical-align: middle;
    }
    & ~ nav.navbar {
      @media(min-width: @screen-sm){
        width: 70%;
      }
    }
    @media(max-width: @screen-sm){
      display: none;
    }
    @media(max-width: @screen-md){
      width: 30%;
    }
  }
}
.browsebar .navbar-nav {
  float: none;
}
