.browsebar {
  width: 100%;
  background-color: fadeout(@gray,10%); 
  margin-top: auto;  
}

.browsebar .nav>li .iconlabel:before {
  vertical-align: inherit;
  padding-right: 10px;
  font-size: 1em;
}

.browsebar .navbar {
  border-radius: 0;
  max-width: none;
  background-color: transparent;
}

.browsebar .nav>li {
  display: inline-block;
}

.browsebar .navbar .navbar-nav>li>a {
  color: #fff;
}

.browsebar-title {
  color: @gray-lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}