// Thumbnail sizes for media items: search results, list entries, record views
@thumbnail-width-small:  100px;
@thumbnail-width-medium: 150px;
@thumbnail-width-large:  200px;

.bulkActionButtons .checkbox,
.bulkActionButtons label { display: inline-block; }
.bulkActionButtons label input { margin-top: 2px; }
@media (max-width: 767px) {
  .grid { min-height: 250px; }
}

.result-body { padding-left: 1rem; }
.result-links { padding: 1rem; }
@media (min-width: 768px) {
  .result-body {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
  }
  .result-links {
    float: left;
    width: 10%;
    padding: 0;
  }
}

.bulkActionButtons {
  margin-left: 5px;
  .checkbox {
    padding-left: 0px;
    display: inline-block;
    input[type="checkbox"] {
      float: none;
    }
  }
  label {
    display: inline-block;
    input {
      margin-top: 2px;
    }
  }
}
.result {
  .media-left,
  .media-right {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
    &.small img,
    &.medium img,
    &.large img {
      max-width: 100%;
    }
    @media (min-width: 768px) {
      a {
        display: inline-block;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        text-decoration: underline;
        position: relative;
      }
    }
  }
  .checkbox {
    padding-left: 5px;
    margin-top: 0;
    position: absolute;
    z-index: 2;
  }
  a.title {
    font-size: 1.333em;
    line-height: 1.1em;
    font-weight: 400;
  }
  .left img {max-width:100%; height:auto;}
  @media (max-width:767px) {
    .middle,.right {padding:0}
  }
  @media (max-width:530px) {

    .left {width:40%}
    .middle {width:60%}
    .right {display:none}
  }
}
.result.embedded {
  .getFull {
    display: block;
    margin-left: 1.5rem;
    padding-right: 30px;
    border-left: 1px solid transparent;
  }
  .getFull.expanded {
    &:extend(.list-group-item);
    margin-top: -11px;
    margin-left: .75rem;
    padding-left: .75rem;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    &::before {
      content: '\25BC';
      position: absolute;
      right: 15px;
      color: @gray;
    }
  }
  .loading {
    &:extend(.list-group-item);
    margin-left: .75rem;
    padding: 1rem;
    background: #fff;
  }
  .long-view {
    margin-left: .75rem;
    padding: .5rem;
    border: 1px solid @list-group-border;
    background-color: #fff;
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
  }
  .long-view .tab-content { padding: 0; }
  .list-tabs { margin-bottom: 0; }
  .list-tab-toggle { cursor: pointer; }
  .list-tab-content { padding: 1rem; }
}

.search-controls {
  margin-bottom: 25px;
  .alert {
    margin-bottom: 0;
  }
  .update-location-button {
    margin-top: 15px;
  }
  @media (min-width: @screen-sm-min){
    display: flex;
    flex-direction: row-reverse;
  }
}

.cart-controls .btn {
  margin-bottom: 1em;
}
