/* All custom less-code here */

// Body without background image (Quick fix!)
body {
  background-image: none !important;
}

.btn-primary {
  text-transform: uppercase;
  padding: 12px;
}

.searchContent [class^="tooltip-"]>i {
  color: @text-color;
}

header {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  z-index: 30;
  position: relative;
}

header .btn {
  background: @body-bg;
  margin-top: -3px;
  letter-spacing: 1px;  
  a {
    color: @brand-primary;
  }
  &:hover {
    background-color: @gray-ultralight;
  }
}

.finna-main-header {
  background: @body-bg;
}

h1.content-header {
  font-size: @content-font-size-base !important;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  border-bottom: 1px solid @gray-lighter;
  padding-top:1.5em;
  padding-bottom: 0.5em;
}

// Searchbox
.template-name-home .searchContent {
  background-size: cover;
  background-position: center center;
  background-image: url(../images/customhomebg);
  background-repeat: no-repeat;
  height: 350px; /* Fallback */
  height: 30vw;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  align-items: center;
  
  @media (max-width: @screen-sm-max) {
    height: 300px; /* Fallback */
    height: 50vw;    
  }
}

.back-to-search-text {
  color: @text-color;
}

#similar-records {
  .iconlabel {
    color: @gray-mid-light;
  }
  h4 {
    color: @text-color;
    font-weight: 400;
    background: @gray-ultralight;
    border: 1px solid @gray-lighter !important;
    margin-bottom: 0;
  }
  .list-group {
    .list-group-item {
      background: #fff;
      border-left: 1px solid @gray-lighter;
      border-right: 1px solid @gray-lighter;
    }
    .list-group-item:last-child {
        border-bottom: 1px solid @gray-lighter;
      }
    }
  }



.floating-feedback-btn {
  top: @navbar-height;
}

.adv-search a.btn-link {
  color: @text-color;
}

.map-button {
  text-transform: none;
  padding: 6px 12px;
  border: none !important;
}
