; Transaction history settings
[getMyTransactionHistory]
max_results = 100
default_sort = "CHECK_OUT_DATE DESCENDING"

sort['CHECK_OUT_DATE DESCENDING'] = "sort_checkout_date_desc"
sort['CHECK_OUT_DATE ASCENDING'] = "sort_checkout_date_asc"
sort['CHECK_IN_DATE DESCENDING'] = "sort_return_date_desc"
sort['CHECK_IN_DATE ASCENDING'] = 'sort_return_date_asc'
sort['AUTHOR ASCENDING'] = 'sort_author'
sort['TITLE ASCENDING'] = 'sort_title'

; valid value is 'driver'.
[updateTransactionHistoryState]
method = driver
options[0] = loan_history_never
options[1] = loan_history_forever

; Uncomment the following lines to enable update messaging settings
; Choose a method on how to update the phone number (email, url or driver)
[updateMessagingSettings]
method = driver