[Catalog]

; Wsdl setting files for SOAP connection. Users should not need to change this setting.
catalogue_wsdl = ""
loans_wsdl = ""
loansaurora_wsdl = ""
payments_wsdl = ""
reservations_wsdl = ""
patron_wsdl = ""
patronaurora_wsdl = ""
