[Catalog]

; Wsdl setting files for SOAP connection. Users should not need to change this setting.
catalogue_wsdl = ""
loans_wsdl = ""
loansaurora_wsdl = ""
payments_wsdl = ""
reservations_wsdl = ""
patron_wsdl = ""
patronaurora_wsdl = ""

[updateMessagingSettings]
method = driver
; emailAddress is required for the email method
emailAddress = "receiver@service.com"
; url is required for the url method. url can be a single address or an array of
; language-specific addresses. First example is a single one:
;url = "http://address.of.change.form"
; Alternatively different links can be specified for each language:
;url[fi] = http://address.of.change.form/finnish
;url[sv] = http://address.of.change.form/swedish
;url[en-gb] = http://address.of.change.form/english
; List of editable settings and limits
template = 'axiell'