; Ini file to handle deprecated content.

; Templates contains information about which templates loads additional styles when loaded.
; Key is the template as relative path and value is the section which used to append style or js files
[Templates]
template['RecordDriver/DefaultRecord/example-template-name.phtml'] = 'FINNA-xxxx'
template['RecordDriver/DefaultRecord/another-template-name.phtml'] = 'FINNA-xxxx'

; Section name containing legacy data. After local adjustments has been made, this can be emptied locally to prevent
; additional css and/or js files from being loaded
[FINNA-xxxx]
styles[] = 'Legacy/file-containing-legacy-styles.css'
scripts[] = 'Legacy/file-containing-legacy-js-code.js'
