; Reservation list settings for datasources
; Keep settings separated so there is no mishappenings

[example]
enabled = false
name = 'Example Organisation'
address = 'Examplestreet 1'
postal = '11111'
city = 'Exemple city'
email = 'example@example.example.fi'
