.audio-player-container {
    background: $gray-ultralight;
}

.audio-item-wrapper {
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  ::-moz-focus-inner {
    border:0;
  }
  :focus {
    outline:none;
  }
  .open-link:not(.download-audio) {
    font-size: $font-size-small;
  }
}

.audio-accordion {
  @media (min-width: $screen-sm-max) {
    max-width: 300px;
  }
}

.audio-title-wrapper,
.audio-accordion-item {
  padding: 5px;
  &.details-uncontained {
    margin-bottom: 15px;
  }
  .audio-title {
    font-weight: bold;
  }
}

.audio-player-wrapper {
  text-align: center;
  .play {
    width: 100%;
    background: #fff;
    font-size: 44px;
    border: none;
    color: $action-link-color;
  }
}

.audio-player-container {
  padding: 1rem;
}

.audio-accordion-item {
  display: none;
}

.audio-item-wrapper:not(.active) {
  .audio-title-wrapper {
    cursor: pointer;
  }
}

.audio-item-wrapper.active {
  .audio-accordion-item {
    display: block;
  }

  .audio-title-wrapper {
    border-radius: 5px 5px 0 0;
  }
}

.audio-player-wrapper {
  margin-bottom: 15px;
}

.audio-details {
  table {
    margin-left: 20px;
  }
  .toggle-audio-information.collapsed .hide-audio-information {
    display: none;
  }
  .toggle-audio-information:not(.collapsed) .show-audio-information {
    display: none;
  }
}
.audio-container .tab-pane:not(.active) {
  .open-link, .audio-details {
    display: none;
  }
}

.vjs-audio {
  background: transparent;
  color: $primary;
  height: 60px !important;
  padding: 0;
  width: 100%;

  .vjs-big-play-button,
  .vjs-poster,
  .vjs-text-track-display,
  &.vjs-has-started .vjs-poster,
  .vjs-fullscreen-control,
  .vjs-remaining-time {
    display: none;
  }

  .vjs-button > .vjs-icon-placeholder::before {
    font-size: 2.5em;
    line-height: 30px;
  }

  .vjs-control-bar {
    display: block;
    top: 0%;
    background: transparent;
    height: unset;

    > div, > button {
      height: 3em;
      position: absolute;
    }
  }

  .vjs-play-control {
    bottom: 0px;
    align-self: center;
    left: 40%;
    width: 20%;

    .vjs-icon-placeholder:before {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: $primary;
      color: white;
      left: calc((100% - 30px) / 2);
    }
  }

  .vjs-menu-button-inline.vjs-slider-active {
    width: 20%;
  }

  .vjs-current-time,
  .vjs-duration {
    display: block;
    top: 0%;
    width: 15%;
    padding: 0;
  }

  .vjs-current-time {
    left: 0;
  }

  .vjs-duration {
    right: 0;
  }

  .vjs-progress-control {
    width: 70%;
    left: 15%;
    top: 0;

    .vjs-play-progress {
      background-color: $primary;
    }
  }

  .vjs-loading-spinner {
    width: 40px;
    height: 40px;
    bottom: -5px;
    top: initial;
    left: calc(50% - 21px);
    right: initial;
    margin: 0;
  }
}

.finna-popup.finna-audio {
  display: flex;
  align-items: center;
  justify-content: center;
}
