@use 'sass:color';

$primary-darker: color.scale($primary, $lightness: -25%);

.record-viewer-container {
    padding: 0;

    #iiif-manifest-url-container {
        display: none;
    }
}

.clover-viewer {

    // Prevent Clover's information toggle button from appearing on top of
    // Finna's navbar
    header.clover-viewer-header {
        z-index: auto;
    }

    // Hide Clover's built-in iiif logo button. We display it elsewhere.
    .c-cGxcRS {
        display: none;
    }

    $infoToggleWidth: 4.5rem;
    $iCircleDiameter: $infoToggleWidth * 0.45;

    button#information-toggle {
        background-color: $body-bg;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 4px inset;
        width: $infoToggleWidth;
        height: $infoToggleWidth * 0.6;

        .c-cASUBb {
            width: $iCircleDiameter;
            height: $iCircleDiameter;
            background-color: $btn-primary-bg;

            span {
                color: $btn-primary-color;
                font-size: 1.2rem;
                opacity: 1;
            }
        }

        .c-cASUBb[data-state="checked"] {
            transform: translateX(
                calc($infoToggleWidth * 0.9 - $iCircleDiameter)
            );
        }

        .c-cASUBb[data-state="unchecked"] {
            background-color: $gray-light;
        }
    }

    // Media navigation and search buttons
    .c-grPSqG {
        .clover-viewer-media-navigation {
            background-color: $primary-darker;
            span em {
                opacity: 1;
            }
        }

        .c-bwRbCV {
            background-color: $btn-primary-bg;
        }

        .c-bwRbCV:disabled svg {
            color: $btn-primary-color;
            opacity: 1;
        }
    }


    .clover-viewer-media-wrapper figure figcaption {
        padding-bottom: .5em;
        text-align: center;
    }

    // Always arrange viewer control buttons vertically. By default Clover only does
    // this when the viewport is narrow.
    .c-ihwAQz {
        flex-direction: column;

        $btn-border: 1px solid color.change($btn-primary-bg, $alpha: .2);

        // OpenSeaDragon image view control buttons
        button.c-fuvPUR {
            margin: 0;
            filter: none;
            border-radius: 0;
            background-color: $body-bg;
            border: $btn-border;
            border-bottom: none;
            color: $btn-primary-bg;

            svg {
                stroke: $btn-primary-bg;
                fill: $btn-primary-bg;
            }

        }

        button.c-fuvPUR:first-child {
            border-top-left-radius: $tabs-border-radius;
            border-top-right-radius: $tabs-border-radius;
        }

        button.c-fuvPUR:last-child {
            border: $btn-border;
            border-bottom: $btn-border;
            border-bottom-left-radius: $tabs-border-radius;
            border-bottom-right-radius: $tabs-border-radius;
        }

    }

    .clover-viewer-content {
        background-color: $gray-ultralight;
    }
}

.record-iiif-toolbar {
    border-top: thin solid $gray-lighter;
    background-color: $gray-ultralight;
    padding-bottom: 1ex;
    padding-top: 1ex;
    margin-bottom: $field-margin-vertical;
}
