@use 'sass:color';

.record-viewer-container {
    padding: 0;

}

.iiif-manifest-url-container {
    display: none;
}

#tify {
    height: 65vh;
    color-scheme: inherit;

    $tify-bg-base: $gray-ultralight;
    $tify-bg-a: color.mix($tify-bg-base, #aaa, $weight: 85%, $method: oklab);
    $tify-bg-b: color.mix($tify-bg-base, #333, $weight: 85%, $method: oklab);
    $tify-bg-c: color.mix($tify-bg-base, #bbb, $weight: 95%, $method: oklab);
    $tify-bg-d: color.mix($tify-bg-base, #444, $weight: 85%, $method: oklab);

    --tify-body-bg: radial-gradient(
            light-dark(#{$tify-bg-a}, #{$tify-bg-b}) 1px,
            light-dark(#{$tify-bg-c}, #{$tify-bg-d}) 0
        ) 2px 1px/3px 3px;

    .tify-header {
        .-page-select  {
            .tify-page-select .tify-dropdown-button {
                border-radius: $finna-button-radius 0 0 $finna-button-radius;
            }

            .tify-header-button {
                border-radius: 0 $finna-button-radius $finna-button-radius 0;
            }
        }

        .-title {
            visibility: hidden;
        }

        button:hover {
            background-color: $action-link-color;
            color: $body-bg;
        }
    }

    // Circular pagination buttons with hover effects in bottom corners of
    // viewer area
    .tify-media-buttons.-pagination {
        button {
            @extend .btn, .btn-primary;
            border-radius: 100%;
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3) ;
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .tify-media-buttons.-controls {
        --tify-bg-color: #fff;

        button:hover {
            background-color: $action-link-color;
            color: $body-bg;
        }
    }

    // Hide button labels
    .tify-header-button > span {
        @include visually-hidden;
    }

    .tify-icon {
        height: 28px;
    }

}


.record-iiif-toolbar {
    $icon-size: 2.25ex;

    background-color: $gray-ultralight;
    padding-bottom: 1ex;
    padding-top: 1ex;
    margin-bottom: $field-margin-vertical;

    img.bi {
        height: $icon-size;
        width: $icon-size;
    }
}

.iiif-menu-button-badge {
    @extend .btn, .btn-secondary;

    @media screen and (width > 700px) {
        min-width: 22pt;
        min-height: 22pt;
        max-height: 33%;
        max-width: 33%;
        border: none;
        border-radius: 0;
        border-start-start-radius: $finna-button-radius;
        background-color: white;

        img.bi {
            width: 98%;
            height: 98%;
        }
    }

    @media screen and (width <= 700px) {
        & {
            position: relative;
            width: 100%;
            max-width: 100%;

            img.bi {
                margin-left: auto;
                margin-right: auto;
                width: 27.5%;
                height: auto;
            }
        }
    }

    @media print {
        display: none;
    }
}
