// Default styles
.record-image-container {
  margin-bottom: 20px;
}
.record-image-container .recordcover-holder {
  position: relative;
}
.recordcover-container {
  min-width: 60px;
}
.recordcover-container .paginator-info {
  position: absolute;
  right: 10px;
  top: 0px;
  color: black;
  z-index: 6;
  .image-index {
      background-color: #efefefcc;
      padding: 2px;
  }
}
.recordcover-container .image-popup-trigger .iconlabel {
  display: none;
}
.recordcover-container .image-popup-trigger.no-image .iconlabel {
  display: flex;
  margin-right: 0;
  box-shadow: 0px 0px 0px 2px $gray-lighter inset;
  align-items: center;
  width: 100%;
  justify-content: center;
  &::before {
      font-size: 39px;
      color: $gray-lighter;
      padding: 0;
      @media (max-width:$screen-sm-max) {
          font-size: 26px;
      }
  }
}
.recordcover-container .image-popup-trigger.no-image img {
  display: none;
}
.recordcover-container .image-popup-trigger.no-image.disable {
  cursor: default;
}
.recordcover-container .image-popup-trigger.no-image .model-3d {
  display: none;
}
.recordcover-container.default .image-popup-trigger {
  height: $image-default-size;
}

.recordcover-container .image-popup-trigger {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  justify-content: center;
}

.recordcover-container .image-popup-trigger img.recordcover {
  margin: auto;
  object-fit: contain;
  max-height: 100%;
}
// Gallery styles
.record-image-container.gallery {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  position: initial;
  justify-content: center;
}
.recordcover-container.gallery .image-popup-trigger {
  height: $image-gallery-size;
}
.recordcover-container.gallery .image-popup-trigger.no-image .iconlabel {
  box-shadow: initial;
}
.recordcover-container.gallery .next-image,
.recordcover-container.compact .next-image{
  display: none;
}
.recordcover-container.gallery .image-popup-trigger .paginator-info,
.recordcover-container.compact .image-popup-trigger .paginator-info {
  right: initial;
  left: 35px;
}
// Compact styles
.recordcover-container.compact .image-popup-trigger {
  height: $image-compact-size;
}
// Large styles
.recordcover-container.large .image-popup-trigger {
  height: $image-large-size;
  @media (max-width:$screen-xs-max) {
      height: $image-large-size-mobile;
  }
}
.recordcover-container.extra-large .image-popup-trigger {
  height: $image-extra-large-size;
}

// Small image track styles
.recordcovers {
  z-index: 3;
  align-items: center;
  position: relative;
  display: flex;
}

.recordcovers > button {
  appearance: none;
  height: 44px;
  border: none;
  background-color: transparent;
  padding: 0 2px;
  flex: 0 0 0;
}

.recordcovers > button:disabled {
  background-color: #d6d6d600;
  color: transparent;
  i {
      cursor: not-allowed;
  }
}

.recordcovers > button i {
  cursor: pointer;
  font-size: 24px;
}

.recordcovers .track-holder {
  display: inline-block;
  flex: 1 1 auto;
}

.recordcovers .track-holder .finna-element-track {
  max-height: 100%;
  touch-action: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.recordcovers .track-holder .finna-element-track div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.recordcovers .track-holder .finna-element-track div a {
  background-color: #efefefcc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  overflow: hidden;
  margin: 2px 4px;
  padding: 2px;
  flex: 0 1 64px;
  span.model-3d-icon {
      color: #121212;
      font-size: 24px;
      font-style: initial;
  }
  &.current {
      border: 0.2em solid $brand-primary;
  }
  &.truncate-change {
      opacity: 0;
  }
}

.recordcovers-more {
  display: flex;
  align-items: center;
}

.recordcovers-more .show-more-images,
.recordcovers-more .show-less-images {
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em;
  margin: 5px 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.recordcovers-more button {
  flex: 1;
  appearance: none;
  border: none;
  i {
      cursor: pointer;
  }
}

.recordcovers-more button:disabled i {
  cursor: initial;
}

// Mini track styles
.recordcovers.mini-paginator {
  position: absolute;
  left: 0;
  padding: 0;
  top: 0;
  justify-content: start;
}

.recordcovers.mini-paginator button {
  background-color: #efefefcc;
  margin: 0 1px;
  padding: 0 4px;
  height: 24px;
  .icon {
      font-size: 10px;
  }
  &:disabled {
      color: lighten($gray-light, 30%);
  }
}
.recordcovers.mini-paginator .track-holder {
  display: none;
}

