.search-tab-tip {
  position: relative;
  padding: 5px;
  background-color: $search-tab-tip-bg;
  p {
    margin: 2px;
  }
}

// All search control buttons
.search-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .alert {
    margin-bottom: 0;
  }
  .update-location-button {
    margin-top: 15px;
    font-weight: 600;
    color: $body-bg;
  }
  .button-label {
    padding: 0.2rem;
  }
  .control-container{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 0.3rem;
    font-size: 0.9em;
  }
  .sort-option-container,
  .limit-option-container,
  .view-option-container{
    display: inline-block;
  }
}
@include media-breakpoint-down(xs) {
  .search-controls {
    .sort-button,
    .view-dropdown {
      .dropdown-toggle {
        display: inline-block;
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .search-header {
    display: flex;
    .search-stats {
      flex-grow: 1;
    }
  }
  .search-controls {
    text-align: right;
  }
}

@include media-breakpoint-up(lg) {
  .sort-button,
  .view-options,
  .view-dropdown {
    display: inline-block;
  }
}

.sort-button,
.view-dropdown {
  font-weight: 600;
  color: $body-bg;
  .dropdown-toggle {
    display: inline-block;
    background: transparent;
    border: 2px solid $action-link-color;
    color: $action-link-color;
    border-radius: $border-radius-base;
    font-size: 1em;
    padding: 5px;
    white-space: nowrap;
    &:hover,
    &:focus {
      text-decoration: none;
      background: $action-link-color;
      color: $body-bg;
      transition: background 0.2s linear;
    }
  }
  .dropdown-menu {
    padding: 0;
    border-radius: $border-radius-base;
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      color: $gray;
    }
  }
}

.view-option-container .view-button {
  display: inline-block;
  padding: 5px;
  &.selected {
    border: 2px solid $action-link-color;
    border-radius: $border-radius-base;
  }
}
