.searchbox {
  @extend .clearfix;
  margin: 12px 0;

  .searchbox-flex {
    display: flex;
    align-items: center;
    .search {
      flex: 1;
    }
    .search-help-icon {
      font-size: 1.9em;
    }
    .btn-advanced {
      margin-left: 10px;
    }
    .btn-link {
      font-size: 1em;
      font-weight: 600;
      color: $finna-search-link-color;
    }
    .search-tooltip {
      button {
        margin-left: 30px;
        color: $tooltip-button-color;
      }
    }
  }
  .searchbox-home {
    .tooltip-button.tooltip-search-local {
      .search-help-icon {
        color: #fff;
      }
    }
  }
  .searchbox-home,
  .searchbox-authority-search {
    flex-wrap: wrap;
    .search-links {
      flex-basis: 100%;
      .btn.btn-link {
        background: $background-color;
        border-radius: $border-radius-small;
        color: mix($background-color, contrast($background-color), 5%);
        font-weight: normal;
        line-height: 25px;
        margin-top: 1em;
        padding: 0px 8px 0 5px;
        overflow: hidden;
        display: inline-flex;
        &:first-child {
          margin-left: 0;
        }
        &.btn-advanced {
          gap: 5px;
        }
        .icon {
          font-size: 1.5em;
        }
      }
    }
  }
  .pager {
    li.pager-text {
      font-size: 1em;
      margin: 0px 3px;
      color: mix($finna-search-background, contrast($finna-search-background), 5%);
    }
    li > a {
      padding: 0 5px;
      color: $pager-bg;
      background: transparent;
      border: none;
      border-radius: none;
      .icon {
        font-size: 2em;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .pager {
      margin-left: 6px;
    }
  }
  @include media-breakpoint-down(md) {
    .dropdown.form-control.type-dropdown {
      display: none;
    }
  }
}

.searchbox-flex {
  .record-back, .pager {
    margin: auto 0;
  }
  .pager {
    display: flex;
    align-items: center;
    .disabled {
      > a,
      > a:hover,
      > a:focus {
        color: $gray-light;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
  .back-to-search {
    a {
      display: flex;
      align-items: center;
      font-size: 1em;
      font-weight: 600;
      color: $finna-search-link-color;
      .icon {
        font-size: $font-size-icon-large;
        margin-right: 5px;
      }
      .back-to-search-text {
        margin-right: 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .pager {
      margin-left: 6px;
    }
  }
  @include media-breakpoint-up(md) {
    .search {
      max-width: 70%;
    }
  }
  @include media-breakpoint-down(md) {
    .pager {
      min-width: 70px;
      margin-left: 10px;
      li:first-child {
        margin-right: 4px;
      }
      .pager-text {
        display:none;
      }
    }
    .record-back {
      margin-right: 10px;
    }
  }
  @include media-breakpoint-down(sm) {
    .record-back {
      margin-right: 0px;
      margin-left: 15px;
    }
  }
}

.finna-filters {
  @extend .checkbox-container;
}
