/* All custom less-code here */

.fa-play-circle {
  width: 24px;
  height: 24px;
  margin-left:0px;
  background-color: currentColor;
  -webkit-mask-image: url(../../../themes/finna/images/pictograms/play-circle.svg);
  mask-image: url(../../../themes/finna/images/pictograms/play-circle.svg);
  &:before {
    display: none;
  }
}